@use "global" as *;
.header {
  @include mq(md) {
  }
}

.header__inner {
  position: relative;
  @include mq(md) {
  }
}

.header__inner::before {
  content: "";
  display: block;
  padding-top: 268.8%;
  @include mq(md) {
  }
}

.header__inner img {
  // width: rem(82.5);
  width: 22vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(md) {
  }
}
